<% if @players.none? %>
	No Players Have Been Entered Yet!
<% end %>


<% @players.each do  |player| %>
	<h1><%= player.name %> </h1>
	<p><%= player.DateOfBirth %><p>
	<%=link_to 'Edit this player', edit_player_path(player) %>
	<%=link_to 'Delete this player', player_path(player), method: :delete, data:{confirm:'Are you sure'} %>
<% end %>